<!-- Login Page -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 team-diesel-img"> 
        <img class="img-responsive" src="src/images/diesel.png"> 
      </div>
     </div>
    </div>

<div class="container">
  <div class="row">
      <div class="col-xs-4 col-sm-4"></div>
      <!-- Login or Register -->
      <div class="col-xs-4 col-sm-4 login">
        <form class="login-form">
        <h2> SIGN IN </h2>
        <h3>
        <div class="form-group">
        <label class="control-label"> Email </label>
        <input class="form-control" type="email" ng-model="auth.email" required>
        </div>
        <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" ng-model="auth.password" required>
        </div>
        <div class="form-group">
        <button ng-click="auth.login()" type="submit" class="btn btn-default"> Login </button>
        <a class="password-link" href=""> Forgot Password </a>
        </div>
        </h3>
        </form>

        <br>
        <h1 class="login-header"> OR </h1>
        <br>

         <a href="" class="reg-clicker" ng-click="showReg = ! showReg">REGISTER (click & scroll)</a>
         <hr>
         <form ng-show="showReg" class="reg-form">
         <h5> * All fields required <h5>
          <h3>
          <div class="form-group">
          <label class="control-label"> First name </label>
          <input class="form-control" type="text" ng-model='auth.reg.firstName' required>
          </div>
          <div class="form-group">
          <label class="control-label"> Last name </label>
          <input class="form-control" type="text" ng-model='auth.reg.lastName' required>
          </div>
          <div class="form-group">
          <label class="control-label"> Your trainer </label>
          <input class="form-control" type="text" ng-model='auth.reg.trainer' required>
          </div>
          <div class="form-group">
          <label class="control-label"> Email </label>
          <input class="form-control" type="email" ng-model='auth.email' required>
          </div>
          <div class="form-group">
          <label class="control-label"> Password </label>
          <input class="form-control" type="password" ng-model='auth.password' required>
          </div>
          <div class="form-group">
          <button ng-click="auth.register()" type="submit" class="btn btn-default">Sign Up</button>
          </div>
          </h3>
      </form>
        </div>
      <div class="col-xs-4 col-sm-4"></div>
</div>





