

<div class="training-body">
<img class="img-responsive training-img" src="src/images/logo.JPG" alt="logo">
  <div class="container training-body">
     <div class="row">
        <div class="col-xs-4 col-sm-4"></div>
           <div class="col-xs-4 col-sm-4">

             <div class="form-group training-buttons">
             <a class="btn-default btn-lg btn-block" href="/#/armlist"> ARMS</a>
             </div>
             <div class="form-group training-buttons">
              <a class="btn btn-default btn-lg btn-block" href="/#/leglist"> LEGS </a>
             </div>
             <div class="form-group training-buttons">
               <a class="btn btn-default btn-lg btn-block" href="/#/chestlist"> CHEST </a>
             </div>
             <div class="form-group training-buttons">
               <a class="btn btn-default btn-lg btn-block" href="/#/backlist"> BACK </a>
             </div>
             <div class="form-group training-buttons">
               <a class="btn btn-default btn-lg btn-block" href="/#/shoulderlist"> SHOULDERS </a>
             </div>

            </div>
             <div class="col-xs-4 col-sm-4"></div>
       </div>
     </div>
</div>
